/* Reset */
@import url(./reset.css);
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* Estilos globales */
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #424242;
  color: #f5f5f5;
  border: solid #b9e937;
  border-width: 0px 0px 5px 0px;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.flex-big {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.flex-small {
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 8rem;
}
.player-1 {
  margin-bottom: 2rem;
}

.board {
  display: grid;
  grid-template-columns: 6.25rem 6.25rem 6.25rem;
  gap: 0.3125rem;
  align-self: center;
}

.squares {
  height: 6.25rem;
  border: 5px solid #424242;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  background-color: #b9e937;
  transition: 0.2s;
  cursor: pointer;
}

.squares:active {
  background-color: #b9e937;
}

.button-reset {
  align-self: center;
  border: 4px solid #424242;
  background-color: #424242;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 1em;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  transition: 0.2s;
  cursor: pointer;
  margin-top: 1rem;
}

.button-reset:hover {
  background-color: #f5f5f5;
  color: #424242;
}

.button-reset:active {
  background-color: #424242;
  color: #424242;
}

#result {
  height: 2rem;
  font-size: 2rem;
}

@media (max-width: 950px) {
  .flex-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
  }
  .players {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .flex-small {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
  .player-1 {
    margin-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  :root {
    font-size: 12px;
  }
}
